body {
    background-color: #777;
    text-align: center;
}
* {
    margin: auto;
}

/* header */
header {
    background-color: cornsilk;
    margin: 10px;
}

/* nav */
nav {
    margin: 10px;
}
/* style the section and article */
.wrapper-section {
    width: 960px;
    margin-bottom: 5px;
}

/* section */
section {
    width:495px;
    float: left;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #ebebeb;
}

article {
    margin-top: 20px;
    background-color: #777;
    padding: 10px 0px 10px 0px;
    color: floralwhite;
}

/* Style the divs with class wrapper-article*/
.wrapper-article {
    margin: 10px;
    margin-top: 20px;
    padding:10px;
    background-color: #ebebeb;
}

/* assign */
aside {
    width: 440px;
    background-color: #ebebeb;
    height: 220px;
    float: right;
    margin-bottom: 5px;
    line-height: 90px;

}

/* footer */
footer {
    clear: both;
    margin: 15px;
}

/* Sets the height and width */
.set-height-width {
    background-color: #ebebeb;
    height: 100px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    line-height: 90px;
}

/* Style the p tags*/
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}
